# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# binaries
cf
gin-bin
minecraft-server-app
rcon-cli

# stuff
LICENSE
NOTICE
service.json
.env_private

# archives
*.zip
*.tgz
*.gz
*.tar

# java
*.jar
*.class

# mc stuff
crash-reports/
logs/
usercache.json
world/
world-backup.zip
world-backup.tar.gz
